/*
  Цвета взяты из проекта Color & Typography (в Figma).
  При добавлении новых цветов в проект добавлять её как новую переменную в :root
*/
:root {
  --base-primary: #2888CD;
  --base-primary-hover: #1975B8;
  --base-primary-active: #1065A3;
}
/*
Запись переменных цветов, осуществляется с префиксом
--
*/